
@{
    ViewData["Title"] = "Resultado";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>resultado</h2>
    <h3>@ViewBag.exemplo</h3>
</body>
</html>

